{# Header #}
<header class="header">
  <section class="section-logo">
    <a href="{{path('app_home')}}"><img src="../img/logo.png" alt="Logo de la boutique" class="logo"></a>
    <p class="site-title">Candy Shop</p>
  </section>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#">Section 1</a></li>
      <li><a class="main-nav-link" href="#">Section 2</a></li>
      <li><a class="main-nav-link" href="#">Section 3</a></li>
      <li><a class="main-nav-link" href="#">Section 4</a></li>
      <li><a class="main-nav-link" href="#">Section 5</a></li>
    </ul>
    <ul class="user-nav-list">
      {# Affichage des liens en fonction du statut d'authentification de l'utilisateur #}
      {% if app.user %}
        <li><ion-icon name="person-outline" class="nav-icon"></ion-icon><a class="user-nav-link" href="{{path('app_account')}}">{{app.user.firstname}}</a></li>
        <li><ion-icon name="cart-outline" class="nav-icon"></ion-icon><a class="user-nav-link" href="#"><span class="sm-badge badge--full">0</span></a></li>
        <li><ion-icon name="log-out-outline" class="nav-icon"></ion-icon><a href="{{path('app_logout')}}" class="user-nav-link nav-cta">Déconnexion</a></li>
      {% else %}
        <li><ion-icon name="log-in-outline" class="nav-icon"></ion-icon><a href="{{path('app_login')}}" class="user-nav-link nav-cta">Connexion</a></li>
      {% endif %}
    </ul>
  </nav>
</header>