{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe oublié{% endblock %}

{% block body %}

  <section class="section-login">
    <div class="login-container form-wrap shake">
      <div class="form-header">
        <h1 class="heading-primary">Nouveau mot de passe</h1>
      </div>
      {# Formulaire de réinitialisation du mot de passe #}
      <div class="form-row">
        <p class="form-info-text"><strong>{{user.firstname}}</strong>, merci de bien vouloir saisir un nouveau mot de passe : </p>
        {{form_start(formView)}}
        {{form_row(formView.new_password)}}
      </div>
      <div class="form-footer">
        <button class="btn btn--form" type="submit">Réinitialiser</button>
        {{form_end(formView)}}
      </div>
    </div>
      {# Lien vers la route du formulaire de login #}
      <div class="form-footer">
        <ul class="nav-list">
            {# Formulaire de login #}
            <li class="item-list">
                <ion-icon class="icon icon-secondary" name="help-outline"></ion-icon>
                <span>
                    <a href="{{path('app_login')}}">Retour vers la page de connexion</a>
                </span>
            </li>
            {# Pas encore de compte #}
            <li class="item-list">
                <ion-icon class="icon icon-secondary" name="person-add-outline"></ion-icon>
                <span>
                    <a href="{{path('app_register')}}">Pas encore de compte ?</a>
                </span>
            </li>
        </ul>
    </div>
  </section>

{% endblock %}